.justifyContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
}

textarea{
    border: 1px solid #777C83 ;
    background-color: #192734;
    color: #F3F4F4;
    border-radius: 10px ;
    padding: 0.6rem;
}