
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.app{
  background-color: #15202B;
  color: black;
  width: 100vw;
  height: 100%;
 
}

.app h1{
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}

